.MainMenu {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 600px) {
    flex: 0 0 40%;
  }

  &__user {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #00aabb;
    border-bottom: 2px solid #00aabb;
  }
  &__logout {
    background: url(./Chat/logout.svg);
    color: #00aabb;
    width: 30px;
    height: 30px;
  }
  &__notChats {
    text-align: center;
  }
}

.newChat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #00aabb;
  border-bottom: 2px solid #00aabb;
  white-space: nowrap;
  margin: 0 -5px;
  @media (max-width: 1070px) {
    flex-direction: column;
  }

  &__input {
    border: 2px solid #00aabb;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 5px;
    width: 50%;
    font-size: 16px;
    @media (max-width: 1070px) {
      width: 90%;
    }
    &:focus {
      box-shadow: 0 0 10px rgba(#00aabb, 0.7);
    }
  }
  &__create {
    width: 50%;
    margin: 0 5px;
    background-color: #00aabb;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 10px;
    border-radius: 10px;
    color: #ffffff;
    @media (max-width: 1070px) {
      width: 90%;
      margin: 0 5px 10px 5px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(#00aabb, 0.7);
    }
  }
}
