.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  &__line {
    max-width: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__info {
    font-size: 14px;
    color: #a7a4a4;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
  }
  &__text {
    background-color: #00aabb;
    border: 1px solid #00aabb;
    border-radius: 5px;
    padding: 12px;
    display: inline-block;

    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 5px;
      top: -20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #00aabb;
    }
  }
}
