.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  border: 5px solid #aaaaaa;
  border-radius: 20px;
  &__header {
    flex: 0 0 10%;
    background-color: #00aabb;
    border: 5px solid #aaaacc;
  }
  &__board {
    flex: 0 0 80%;
    overflow: hidden;
    background-color: #ffffff;
    border: 5px solid #aaaacc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__input {
    flex: 0 0 10%;
    position: relative;
  }
  &__text {
    width: 100%;
    border: 5px solid #aaaacc;
    background-color: red;
    padding: 20px 100px 20px 50px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    resize: none;
  }
  &__button {
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 2;
  }
}
