.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  flex: 0 0 100%;

  &__header {
    border-left: 2px solid #00aabb;
    border-bottom: 2px solid #00aabb;
    flex: 0 0 60px;
    display: flex;
    align-items: center;
  }
  &__roomName {
    font-size: 26px;
    font-weight: 900;
    color: #00aabb;
    padding-left: 20px;
  }

  &__sendMessage {
    flex: 0 0 30px;
    display: flex;
    align-items: center;
  }
  &__input {
    flex: 0 0 90%;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    resize: none;
    border: 2px solid #00aabb;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    &:focus {
      box-shadow: 0 0 10px rgba(#00aabb, 0.7);
    }
  }
  &__send {
    flex: 0 0 10%;
    background: url(./paper-plane.svg) center no-repeat;
    color: #00aabb;
    width: 30px;
    height: 30px;
    padding-left: 20px;
  }
}
