.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  flex: 0 0 70%;

  &__header {
    flex: 0 0 50px;
    background-color: #00aabb;
  }
  &__board {
    flex: 0 0 82%;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #00aabb;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__input {
    flex: 0 0 10%;
    position: relative;
  }
  &__text {
    border: 1px solid #00aabb;
    padding: 20px 100px 20px 50px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    resize: none;
  }
  &__send {
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 2;
    background: url(./paper-plane.svg);
    color: #00aabb;
    width: 30px;
    height: 30px;
  }
}
