.newChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #00aabb;

  &__title {
    font-size: 30px;
    font-weight: 900;
    background-color: #00aabb;
    border: 2px solid #00aabb;
    border-radius: 5px;
    color: #ffffff;
    padding-bottom: 10px;
    width: 100%;
    & h1 {
      text-align: center;
    }
  }
  &__create {
    background-color: #00aabb;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 10px;
    color: #ffffff;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(#00aabb, 0.7);
    }
  }

  &__input {
    border: 2px solid #00aabb;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(#00aabb, 0.7);
    }
  }
}
